:root {
    --dark-color1 : #121213;
    --dark-color2 : #1E1F20;
    --dark-color3 : #3c3d3f;
    --light-color : #f1f1f1;
    --yellow : #e2a600;
}

.sixtyfour {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }
  

body {
    margin: 0;
    background-color: var(--dark-color1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--yellow);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 5rem;
    font-family: Sixtyfour;
}

.menu {
    display: flex;
    width: 800px;
}

input, select {
    background-color: var(--dark-color3);
    color: #f0f0f0;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    border : none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.formP {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.formP1,
.formP2 {
    background-color: var(--dark-color2);
    box-shadow: 2px 2px var(--yellow);
    border-radius: 10px;
    padding: 10px;
}

#btnSubmit {
    background-color: var(--dark-color3);
    color: var(--yellow);
    width: 100px;
    padding: 7px 20px;
    font-size: 1rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 200ms;
    &:hover {
        background-color: #2c2e30;
    }
    &:active {
    transform: scale(0.9);
    }
}

.form-grp {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#plateau {
    display: none;
    grid-template-columns: repeat(7, 100px);
    background-color: var(--dark-color3);
    width: 700px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.case {
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid rgb(184, 180, 180);
    transition: background-color 0.3s ease;
}

#result {
    font-size: 3rem;
}

.zoneResultat {
    display: none;
    gap: 50px;
    flex-direction: column;
    text-align: center;
    button {
        background-color: var(--dark-color3);
        color: var(--yellow);
        padding: 7px 20px;
        font-size: 1rem;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            background-color: #2c2e30;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

.zoneBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer {
    display: none;
    gap: 50px;
    justify-content: center;
    font-size: 1.5rem;
}

.containerScore {
    text-align: center;
}

@media (max-width: 900px) {
    h1{
        font-size: 3.5rem;
    }
}

@media (max-width: 700px) {
    h1{
        font-size: 2.9rem;
    }

    #plateau {
        grid-template-columns: repeat(7, 80px);
        width: 550px;
    }
    
    .case {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 550px) {
    h1{
        font-size: 2.3rem;
    }

    main {
        height: 550px;
    }

    #plateau {
        grid-template-columns: repeat(7, 50px);
        width: 350px;
    }
    
    .case {
        width: 40px;
        height: 40px;
    }
}


