* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-color1 : #121213;
    --dark-color2 : #1E1F20;
    --dark-color3 : #3c3d3f;
    --yellow : #e2a600;
}

.squada-one-regular {
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: var(--dark-color1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

#pageMenu {
    grid-column: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    background-color: var(--dark-color2);
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px var(--yellow);
}

h1 {
    font-size: 6rem;
    font-family: Squada One;
    text-shadow: 3px 3px var(--dark-color1);
}

h2 {
    margin: 30px;
}

#containerIcone {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.iconeInstru {
    background-color: var(--dark-color3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px var(--dark-color1);
    cursor: pointer;
    transition: 200ms;
    img {
        width: 100px;
        height: 100px;
    }
    &:hover {
        background-color: #494b4e;
    }
    &:active {
        transform: scale(0.9);
    }
}

#iconeMetronome {
    text-align: center;
}


#pageGuitare{
    grid-column: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    #guitare {
        background-color: var(--dark-color2);
        box-shadow: 3px 3px var(--yellow);
        border-radius: 50px;
        position: relative;
        padding: 50px 50px 0 50px;
        width: 400px;
        height: 600px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

#pageBasse{
    grid-column: 1fr;
    display: none;
    justify-content: center;
    align-items: center;
    #basse {
        background-color: var(--dark-color2);
        box-shadow: 3px 3px var(--yellow);
        border-radius: 50px;
        position: relative;
        padding: 50px 50px 0 50px;
        width: 400px;
        height: 600px;
        img {
            width: 100%;
            height: 100%;
            margin-left: 50px;
        }
    }
}

#pageMetronome {
    grid-column: 1fr;
    display: none;
    justify-content: center;
    align-items: center;
    #metronome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-color2);
        box-shadow: 3px 3px var(--yellow);
        border-radius: 50px;
        padding: 40px;
        width: 400px;
        height: 150px;
        #inputMetronome {
            font-size: 1.1rem;
            background-color: var(--dark-color3);
            margin: 10px;
            padding: 7px;
            border-radius: 10px;
            border: none;
            color: var(--yellow);
            text-align: center;
            box-shadow: 3px 3px var(--dark-color1);
        }
        #contenairBtn {
            display: flex;
            align-items: center;
            span {
                font-size: 1.5rem;
                text-align: center;
                align-content: center;
                border-radius: 50%;
                background-color: var(--dark-color3);
                margin: 20px;
                width: 80px;
                height: 80px;
                box-shadow: 3px 3px var(--dark-color1);
                cursor: pointer;
                transition: 200ms;
                &:hover {
                    background-color: #494b4e;
                }
                &:active {
                    transform: scale(0.9);
                }
            }
            .btnMet {
                width: 90px;
                height: 90px;
            }
        }
    }
}

.cercle {
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3c3d3f;
    box-shadow: 3px 3px var(--dark-color1);
    position: absolute;
    cursor: pointer;
    transition: 200ms;
    &:hover {
        background-color: #494b4e;
    }
    &:active {
        transform: scale(0.9);
    }
}

#guitare1 {
    top: 315px;
}

#guitare2 {
    top: 230px;
}

#guitare3 {
    top: 150px;
}

#guitare4 {
    top: 150px;
    left: 415px;
}

#guitare5 {
    top: 230px;
    left: 415px;
}

#guitare6 {
    top: 315px;
    left: 415px;
}

#bass1 {
    top: 380px;
    left: 55px;
}

#bass2 {
    top: 290px;
    left: 75px;
}

#bass3 {
    top: 200px;
    left: 100px;
}

#bass4 {
    top: 105px;
    left: 125px;
}

@media(max-width: 1200px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #pageMenu {
        grid-column: 1fr;
        grid-row: 1fr;
        margin: 50px 0;
    }

    #pageGuitare{
        grid-column: 1fr;
        grid-row: 1fr;
        margin: 50px 0;
    }

    #pageBasse{
        grid-column: 1fr;
        grid-row: 1fr;
        margin: 50px 0;
    }

    #pageMetronome{
        grid-column: 1fr;
        grid-row: 1fr;
        margin: 50px 0;
    }
}

@media (max-width: 660px){
    h1 {
        font-size: 3rem;
    }

    #pageMenu {
        grid-column: 1fr;
        grid-row: 1fr;
        margin: 10px 0;
    }

    .iconeInstru {
        width: 80px;
        height: 80px;
        img {
            width: 80px;
            height: 80px;
        }
    }

    #pageGuitare{
        #guitare {
            padding: 20px 30px 0 30px;
            width: 250px;
            height: 400px;
            margin: 10px 0;
        }
    }

    #pageBasse{
        #basse {
            padding: 20px 30px 0 30px;
            width: 250px;
            height: 400px;
            margin: 10px 0;
        }
    }

    #pageMetronome {
        #metronome {
            width: 250px;
            height: 100px;
            #contenairBtn {
                span {
                    margin: 10px;
                    width: 60px;
                    height: 60px;
                }
                #play {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    
    .cercle {
        width: 40px;
        height: 40px;
    }

    #guitare1 {
        top: 195px;
        left: 23px;
    }
    
    #guitare2 {
        top: 140px;
        left: 23px;
    }
    
    #guitare3 {
        top: 83px;
        left: 23px;
    }
    
    #guitare4 {
        top: 83px;
        left: 255px;
    }
    
    #guitare5 {
        top: 140px;
        left: 255px;
    }
    
    #guitare6 {
        top: 195px;
        left: 255px;
    }
    
    #bass1 {
        top: 240px;
        left: 40px;
    }
    
    #bass2 {
        top: 180px;
        left: 55px;
    }
    
    #bass3 {
        top: 120px;
        left: 70px;
    }
    
    #bass4 {
        top: 60px;
        left: 85px;
    }
}
